<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-demo</title>
    <style>
        .list{
            padding-left:20px;
        }
        .list>li{
            height:30px;
            line-height:30px;
        }
        input{
            width:200px;
        }
        .name{
            color:deeppink;
        }
        .age{
            color:lightblue;
        }
    </style>
</head>
<body>
<div id="app">
    <input
            type="text"
            v-model="msg"
            placeholder="请输入下方球员姓名"
    >
    <ol class="list">
        <li
                v-for="(player,index) in filterPlayers"
                :key="index"
        >
            <span class="name">name: {{player.name}} </span>
            ---
            <span class="age">age: {{player.age}}</span>
        </li>
    </ol>
    <button @click="sortByAge(0)">年龄降序</button>
    <button @click="sortByAge(1)">年龄升序</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const vm = new Vue({
        el:'#app',
        data:{
            msg:'',
            players:[
                {name:'kyrie',age:27},
                {name:'durant',age:30},
                {name:'wade',age:36},
                {name:'lebron',age:35},
                {name:'kobe',age:40}
            ]
        },
        computed:{
            filterPlayers(){
                return this.players.filter((player) => {
                    return player.name.includes(this.msg);
                })
            }
        },
        methods:{
            /*
                通过filterPlayer也可以过滤数组,但是通过计算属性可以实时计算,并且计算属性是通过相关依赖缓存的
                不会像methods一样视图更新就会重新计算
                filterPlayer(){
                    this.players = this.players.filter((player) => {
                        return player.name.includes(this.msg);
                    });
                }*/
            sortByAge(num){
                if(num){
                    this.players.sort((a,b) => {
                        return a.age - b.age;
                    })
                }else{
                    this.players.sort((a,b) => {
                        return b.age - a.age;
                    })
                }
            }
        }
    })
</script>
</body>
</html>